<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'login_register/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_register/css/styles.css' %}">
        <script src="{% static 'login_register/js/jquery.min.js' %}"></script>
        <script src="{% static 'login_register/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'login_register/js/script.js' %}"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <a class="navbar-brand">Test App</a>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login_register:signin' %}">Sign in</a></li>
                </ul>
            </div>
        </div>
        <div class="login-register container">
            <form method="post" action="register">
                <h2>Register</h2>
                {% csrf_token %}
                <div class="form-group">
                    <label>First Name:</label> 
                    <input type="text" name="first_name" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label>Last Name:</label> 
                    <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label>Email:</label> 
                    <input type="text" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Password:</label> 
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Password Confirm:</label> 
                    <input type="password" name="password_confirm" class="form-control" placeholder="Password Confirm">
                </div>
                <button type="submit" class="btn btn-info center-block">Register</button>
            </form>
            <br>
            <p><a href="{% url 'login_register:signin' %}">Already have an account? Login</a></p>
        </div>
    </body>
</html>
